/* Style sheet sampled from:
https://webdesign.tutsplus.com/tutorials/building-responsive-forms-with-flexbox--cms-26767
*/

.header {
  font-family: "Poiret One", cursive;
}

body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #B5F090;
  color: #3E6E21;
  padding: 50px 0;
  text-transform: capitalize;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  margin-left: 0px;
  max-width: 800px;
  margin: 0;
  padding: 0px 16px;
}

.center {
  margin: auto;
  width: 30%;
  padding: 50px;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer > li {
  border-radius: 10px;
  border: none;
  padding: 10px;
  box-shadow: 2px 3px 8px #888888;
}

.flex-outer li label,
.flex-outer li p {
  font-style: italic;
  padding: 5px;
  font-weight: 200;
  letter-spacing: .02em;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 125px;
  max-width: 325px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 225px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  margin-left: 0px;
  padding: 15px;
  border: none;
}


.flex-outer li {
  display: inline-block;
  background-color: #8ae9b3;
  background-image: linear-gradient(315deg, #8ae9b3 0%, #c8d6e5 74%);
  
  
  
  color: #000000;
  margin: 40px 245px;
  width: 500px;
  
}

/* Headers */

h1 {
  font-family: 'Poiret One';
  font-size: 4rem;
  text-align: left;
  padding: 0 20px;
  margin: 40px 240px;
  font-weight: 400;
  text-decoration: underline;
}

h2 {
  font-family: 'Poiret One';
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 100;
  margin: 5px auto;
}

.textinput {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  margin: auto 260px;
  padding: auto 0;
  width: 335px;;
}

/* lists */



/* Media Rules*/
@media screen and (max-width: 1000px) {
  .header {
    justify-content: center;
  }

  h1 {
    font-family: 'Poiret One';
    font-size: 3rem;
    text-align: left;
    padding: 0 20px;
    margin: 40px 30px; /* Used to be 95 */
    font-weight: 400;
    text-decoration: underline;
  }


  .flex-outer li {
    display: inline-block;
    background-color: #8ae9b3;
    background-image: linear-gradient(315deg, #8ae9b3 0%, #c8d6e5 74%);
    color: #000000;
    margin: 40px 35px; /* Used to be 100 */
    width: 370px;
  }

  .textinput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    margin: auto 50px; /* Used to be 115 */
    padding: auto 0;
    width: 300px;
  }
  
}